@model Hotel.Core.Entities.RoomDetail
@{
    ViewData["Title"] = "Deletes";
}





<form class="mt-5" method="post" asp-route="room-delete" asp-route-id="@Model.Id" id="book-@Model.Id"></form>
<button form="book-@Model.Id" type="submit">Delete</button>



<h1 class="mt-5">@Model.Description</h1>